html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  margin: 100px auto 0;
  padding: 30px 15px;
  border: 4px solid rgb(104, 3, 3);
  position: relative;
  background: rgba(245, 222, 179, 0.216);
}

.name-inquiry-mode {
  text-align: center;
}

p::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  opacity: .6;
}

.name-inquiry-mode p {
  margin: 10px auto;
  width: 240px;
  position: relative;
}

.name-inquiry-mode input {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 12px;
  border: 0px;
  border-radius: 50px;
}

.icon-x>input {
  background: #FFE5EB;
}

.icon-o>input {
  background: #DEFFF0;
}

.icon-x::after {
  background: url(img/close-cross.svg) center no-repeat;
  left: 10px;
  background-size: 90%;
}

.icon-o::after {
  background: url(img/circle-shape-outline.svg) center no-repeat;
  right: -15px;
  background-size: 90%;
}

.main-container:before {
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 29px solid transparent;
  border-left: 29px solid rgb(104, 3, 3);
  border-right: 29px solid rgb(104, 3, 3);
}

.main-container:after {
  content: "";
  height: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  border-top: 29px solid transparent;
  border-left: 29px solid rgb(104, 3, 3);
  border-right: 29px solid rgb(104, 3, 3);
}

.scoreboard {
  flex-direction: row;
  display: none;
}

.scoreboard>* {
  width: 50%;
}

.name {
  padding: 3px 0;
  font-size: .9em;
  width: 60%;
  box-sizing: border-box;
  margin: 0;
  text-transform: uppercase;
}
.score {
  font-size: 24px;
}

.score-wrapper {
  padding: 10px;
  border-radius: 0 0 0 6px;
  position: relative;
}

#player-X-info .name {
  padding-left: 20px;
  border-radius: 6px 25px 0 0 / 6px 100% 0 0;
  background: #FE7C96;
}

#player-X-info .score-wrapper {
  background: rgba(254, 124, 150, 0.5);
  text-align: right;
}

#player-O-info .name {
  text-align: right;
  margin-left: 40.1%;
  padding-right: 20px;
  border-radius: 25px 6px 0 0 / 100% 6px 0 0;
  background: #7EF9BC;
}

#player-O-info .score-wrapper {
  background: rgba(126, 249, 187, 0.5);
  border-radius: 0 0 6px 0;
}

.score-wrapper:after {
  content: "";
  width: 30px;
  height: 100%;
  top: 0;
  position: absolute;
}
#player-X-info .score-wrapper::after {
  background: url(img/close-cross.svg) no-repeat center;
  background-size: 90%;
  left: 10px;
}
#player-O-info .score-wrapper::after {
  background: url(img/circle-shape-outline.svg) no-repeat center;
  background-size: 90%;
  right: 10px;
}

.gameboard-display {
  margin: 30px 0;
  justify-content: center;
  padding: 100px 0;
  background: rgb(60, 151, 151);
  display: none;
}

.main-gameboard {
  display: inline-grid;
  grid-template-rows: 90px 90px 90px;
  grid-template-columns: 90px 90px 90px;
  overflow: hidden;
}

.main-gameboard>.item {
  outline: 5px solid black;
  font-size: 100px;
  background-size: 60%;
}

.cross {
  background: url(img/close-cross.svg) no-repeat center;
}

.circle {
  background: url(img/circle-shape-outline.svg) no-repeat center;
}

.game-start .name-inquiry-mode {
  display: none;
}

.game-start div.gameboard-display,
.game-start div.scoreboard {
  display: flex;
}

@media only screen and (min-width: 525px) {
  .main-container {
    max-width: 420px;
  }
}
